#
# Files ignored by Git
# ====================
#

# - Built files
/*.js
!/module.js
!/test.js
/*/
!/module/
!/test/
!/Readme/

# - All files and directories starting with "#"
\#*

# - NPM stuff
/node_modules/
/npm-debug.log

# - Test coverage reports
/coverage/

# - Editor files
*.sublime-project
*.sublime-workspace
